<!DOCTYPE html>
<html ng-app="AppSanitize" ng-controller="artigoBCCtrl"  lang="pt-br" dir="ltr">
<head>
	<base href="/" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/css/metro-3.0.17.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/metro-icons-3.0.17.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/metro-responsive-3.0.17.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/metro-colors.3.0.18.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/bhsul-0.0.1.css" />
	<script type='text/javascript' src="/js/angular-1.6.4.min.js"></script>
	<script type='text/javascript' src="/js/angular-sanitize-1.6.4.min.js"></script>
	<script type='text/javascript' src="/js/jquery-3.2.1.min.js"></script>
	<script type='text/javascript' src="/js/metro-3.0.17.min.js"></script>
	<script type='text/javascript' src="/js/geturl.js"></script>
	<script type='text/javascript' src="/js/bhsul-0.0.1.js"></script>
	<style type="text/css">
		@media print {
			.app-bar, .artigobc-painelacoes, .breadcrumbs, .enquete {
				display: none;
			}
		}
	</style>
	<title ng-bind="titulo"></title>
</head>	
<body>
	<div ng-include="'/widgets/navbar.html'" data-onload="navbarCarregada()"></div>
	<div ng-include="'/widgets/feedback.html'"></div>
	<div class="conteudo-pagina container align-center ng-hide" ng-hide="!exibirPagina || artigoexiste" style="margin-top: 10px;" ngcloak>
		<div class="mif-blocked mif-4x"></div>
		<h1>Artigo não econtrado</h1>
		<p>Tente pesquisar o que você está precisando.</p>
	</div>
	<div class="container conteudo-pagina" ng-show="exibirPagina && artigoexiste" ngcloak>
		<ul class="breadcrumbs2 mini" style="margin-top: 24px;">
			<li><a href="/bc/index.html?tipo={{categoria}}" ng-bind="categorianome"></a></li>
			<li><a href="" ng-bind="titulo"></a></li>
		</ul>
		<div class="flex-grid">
			<div class="row">
				<main class="cell colspan9">
					<div ng-hide="!estaDescontinuado" ng-cloak>
						<div class="popover marker-on-left bg-darkRed fg-white">
            				AVISO: Este artigo trata de um assunto cuja legislação não está mais em vigor ou seu entendimento foi alterado ou trata de um aplicativo que está em desuso no instituto.
            			</div>
					</div>
					<div ng-bind="titulo" class="artigobc-titulo"></div>
					<div ng-bind-html="arquivohtml" class="artigobc-conteudo"></div>
					<div class="artigobc-conteudo">
						<section ng-cloak>
							<h3>Propriedades</h3>
							<p>ID do artigo: <span ng-bind="id"></span></p>
							<p>Última revisão: <span ng-bind="ultimarev | date: 'dd/MM/yyyy - HH:mm'"></span></p>
							<p>Revisão: <span ng-bind="rev"></span></p>
							<p>A informação contida neste artigo aplica-se a: <span ng-bind="aplicase"></span></p>
						</section>
					</div>
				</main>
				<div class="cell colspan3 artigobc-painelacoes" style="margin-left: 12px;" ng-cloak>
					<ul class="artigobc-listaacoes">
						<li><a href="javascript:window.print();"><span class="mif-printer"></span>Imprimir</a></li>
						<li><a href="mailto:?Artigo do banco de conhecimento&amp;body=Clique no link: {{paginaurl}}"><span class="mif-mail"></span>Email</a></li>
					</ul>
					<nav class="artigo-navegador">
						<h4>Neste artigo</h4>
						<ol>
							<li ng-repeat="x in secoes"><a href="/bc/artigo.html?id={{bcid}}#ancora{{$index}}" ng-bind="x"></a></li>
						</ol>
					</nav>
					<nav class="artigo-tags">
						<h4>Tags</h4>
						<span ng-repeat="x in tags" ng-bind="x"></span>
					</nav>
				</div>
			</div>
		</div>
	</div>
</body>
</html>