<!DOCTYPE html>
<html ng-app="IndiceBC" ng-controller="PageCtrl">
<head>
<meta charset="UTF-8" />
<base href="/">
<link rel="stylesheet" type="text/css" href="css/metro.min.css" />
<link rel="stylesheet" type="text/css" href="css/metro-icons.min.css" />
<link rel="stylesheet" type="text/css" href="css/metro-responsive.min.css" />
<link rel="stylesheet" type="text/css" href="css/bhsul.css" />
<script type='text/javascript' src="js/angular-1.5.8.min.js"></script>
<script type='text/javascript' src="js/jquery-3.1.0.min.js"></script>
<script type='text/javascript' src="js/geturl.js"></script>
<script type='text/javascript' src="js/metro.min.js"></script>
<style type="text/css">
</style>
<script type="text/javascript">
	var app = angular.module('IndiceBC', []);
	var param = getUrlParameter('tipo');
	app.controller('PageCtrl',  function($scope, $http) {
		$http.get("bc/data/" + param + ".json").then(function(response) {
		$scope.titulo = "Banco de Conhecimento - " + response.data.titulo;
		$scope.dados = response.data.categorias;});
	});
</script>
<title nb-bind="titulo"></title>
</head>
<body>
<div ng-include="'widgets/navbar.html'"></div>
<div class="container page-content">
	<h4 ng-bind="titulo"></h4>
	<div class="accordion" data-role="accordion" data-close-any="true">
		<div class="frame active" ng-repeat="x in dados">
			<div class="heading">
				{{x.nome}}
				<span class="{{x.icone}} icon"></span>
			</div>
			<div class="content">
				<p ng-repeat="y in x.itens"><a href="bc/artigo.html?id={{y.data}}">{{y.nome}}</a></p>
			</div>
		</div>
	</div>
</div>
</body>
</html>