<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<base href="/">
<link rel="stylesheet" type="text/css" href="css/metro.min.css" />
<link rel="stylesheet" type="text/css" href="css/metro-icons.min.css" />
<link rel="stylesheet" type="text/css" href="css/metro-responsive.min.css" />
<script type='text/javascript' src="js/angular-1.5.8.min.js"></script>
<script type="text/javascript">
	var app = angular.module('TabelaLinks', []);
	app.controller('linksCtrl',  function($scope, $http) {
		$http.get("data/links.json").then(function(response) {$scope.dados = response.data.links;});
	});
</script>
<style type="text/css">
.trescolunas {
  columns: 3;
}
</style>
<title>Atalhos</title>
</head>
<body ng-app="TabelaLinks" ng-controller="linksCtrl">
	<div ng-include="'widgets/navbar.html'"></div>
	<div ng-repeat="x in dados">
		<h4>{{x.categoria}}</h4>
		<div class="trescolunas">
			<div ng-repeat="y in x.itens">
				<p><a href="{{y.atalho}}">{{y.nome}}</a></p>
			</div>
		</div>
	</div>
</body>
</html>