<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<base href="/">
<link rel="stylesheet" type="text/css" href="/css/metro-3.0.17.min.css" />
<link rel="stylesheet" type="text/css" href="/css/metro-icons-3.0.17.min.css" />
<link rel="stylesheet" type="text/css" href="/css/metro-responsive-3.0.17.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bhsul.css" />
<script type='text/javascript' src="/js/angular-1.6.4.min.js"></script>
<script type="text/javascript">
	var app = angular.module('TabelaLinks', []);
	app.controller('linksCtrl',  function($scope, $http) {
		$http.get("data/links.json").then(function(response) {$scope.dados = response.data.links;});
	});
</script>
<style type="text/css">
.trescolunas {
  columns: 3 200px;
}

.itemcoluna {
  margin: 0px 15px 10px 10px;
}

.itemcoluna img {
  margin-top: -5px;
}
</style>
<title>Página de Atalhos</title>
</head>
<body ng-app="TabelaLinks" ng-controller="linksCtrl">
	<div ng-include="'/widgets/navbar.html'"></div>
	<div class="page-content">
		<div ng-repeat="x in dados">
			<h4>{{x.categoria}}</h4>
			<div class="trescolunas">
				<div class="itemcoluna" ng-repeat="y in x.itens">
					<img src="/img/link.svg" width="16" height="16">
					<a href="{{y.atalho}}">{{y.nome}}</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>