<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/metro-3.0.17.min.css" />
<link rel="stylesheet" type="text/css" href="/css/metro-icons-3.0.17.min.css" />
<link rel="stylesheet" type="text/css" href="/css/metro-responsive-3.0.17.min.css" />
<link rel="stylesheet" type="text/css" href="/css/bhsul.css" />
<script type='text/javascript' src="/js/angular-1.6.4.min.js"></script>
<script type='text/javascript' src="/js/comentarios.js"></script>
<title>Seus comentários</title>
</head>
<body>
<div id="Cabecalho" ng-app="">
  <div ng-include="'/widgets/navbar.html'"></div>
</div>
<div id="ComentariosApp" ng-app="enviarComentarios" ng-controller="formController" class="container page-content">
<h3>Enviar seus comentários sobre o Portal da BH Sul</h3>
<div class="grid">
<form ng-submit="processarForm()">
  <div class="row cells1">
    <h5>Que tipo de comentário é esse?</h5>
    <label class="input-control radio">
      <input name="tipo" type="radio" ng-model="formData.tipo" value="problema" autofocus>
      <span class="check"></span>
      <span class="caption">Problema</span>
    </label>
    <label class="input-control radio">
      <input name="tipo" type="radio" ng-model="formData.tipo" value="sugestao">
      <span class="check"></span>
      <span class="caption">Sugestão</span>
    </label>
  </div>
  <div class="row cells1">
    <h5>Detalhes:</h5>
    <div class="input-control textarea full-size">
      <textarea name="detalhes" ng-model="formData.detalhes" maxlength="128" placeholder="Digite aqui seu comentário."></textarea>
	  <br>{{formData.detalhes.length+0}}/128
    </div>
  </div>
  <div class="row cells1">
  <ul>
    <li>Envie apenas uma sugestão ou problema por comentário.</li>
    <li>Torne o texto conciso e descritivo. Isso ajudará o desenvolvedor do site a entender seu comentário.</li>
  </ul>
  </div>
  <div class="row cells1">
    <button class="button primary" type="submit" ng-disabled="!(formData.detalhes && formData.tipo)">Enviar</button>
	<a href="/" class="button">Cancelar</a>
  </div>
</form>
</div> 
</div> 
</body>
</html>