<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
	<base href="/">
	<meta charset="UTF-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="sortcut icon" href="/favicon.png" type="image/png"/>
	<link rel="stylesheet" type="text/css" href="/css/metro-3.0.17.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/metro-responsive-3.0.17.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/metro-icons-3.0.17.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/auto-complete.css" />
	<link rel="stylesheet" type="text/css" href="/css/bhsul-0.0.1.css" />
	<script type='text/javascript' src="/js/angular-1.6.4.min.js"></script>
	<script type='text/javascript' src="/js/jquery-3.2.1.min.js"></script>
	<script type='text/javascript' src="/js/metro-3.0.17.min.js"></script>
	<script type='text/javascript' src="/js/autocomplete.js"></script>
	<script type='text/javascript' src="/js/bhsul-0.0.1.js"></script>
	<script type='text/javascript' src="/js/docs-0.0.1.js"></script>
	<title>Formulários e Modelos</title>
</head>
<body ng-app="PortalBHSul" ng-controller="docsCtrl">
	<div ng-include="'/widgets/navbar.html'" data-onload="navbarCarregada()"></div>
	<div class="conteudo-pagina" ng-show="exibirPagina">
		<div class="flex-grid no-responsive-future" style="height: 100%;">
			<div class="row" style="height: 100%">
				<div class="cell size2 barra-lateral" id="lista-categorias" style="height: 100%; width: 248px;">
					<div class="tab-doc-cat">
						<h3 class="uppercase" style="margin-left: 8px;"><small>Categorias</small></h3>
						<div class="listview">
							<div class="list" ng-repeat="x in dados">
								<a class="list-tile" href="#categoria{{$index}}" target="_self" ng-bind="x.categoria"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="cell auto-size padding20 bg-white" id="pagina-docs" style="margin-left: 248px;">
					<div>
						<h1 class="align-center">Formulários e Modelos</h1>
						<h3 class="align-center">
							<small>Os documentos requerem o aplicativo LibreOffice 5.0 ou superior com macros ativadas e o aplicativo Adobe Acrobat Reader DC ou superior. Saiba mais.</small>
						</h3>
					</div>
					<div class="edit-pesquisa align-center">
						<form onsubmit="$('#edit-autocomplete').blur(); return false;">
							<div class="input-control text" data-role="input" style = "width: 400px;">
								<input name="editpesquisa" id="edit-autocomplete" aria-label="Pesquisar documentos" type="text" placeholder="Pesquisar documentos..." autocomplete="off" />
								<button class="button bto-pesquisa">
									<span class="mif-search"></span>
								</button>
							</div>
						</form>
					</div>
					<div class="ancora" ng-repeat="x in dados" id="categoria{{$index}}">
						<h3 ng-bind="x.categoria"></h3>
						<div class="tab-doc">
							<a ng-repeat="y in x.itens" href="{{y.link}}">
								<img alt="{{tipodoc[y.tipo-1]}}" ng-src="{{fileimg[y.tipo-1]}}" />
								<p ng-bind="y.nome"></p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>