[aria-disabled], html {
	cursor: default;
}

*::selection {
	background-color: #e5f3fb;
	color: black;
	text-shadow: none;
}

.ancora::before {
	content: '';
	display: block;
	padding-top: 44px;
	position: relative;
	margin-top: -44px;
	width: 0;
}

.app-bar {
	box-shadow: 0px 6px 23px -6px rgba(0, 114, 198, 0.16);
}

.app-bar .app-bar-menu > li > a, .app-bar .app-bar-element {
	line-height: 50px;
}

.app-bar-element {
	border: 3px dotted transparent;
	transition: 0.2s;
}

.app-bar-element:focus {
	border: 3px dotted white;
	outline: none;
}

.app-bar-menu li.active > a {
	background-color: #005696;
}

.app-bar-link {
	border: 3px dotted transparent;
	transition: 0.2s;
}

.app-bar-link:focus {
	border: 3px dotted white;
	outline: none;
	text-decoration: underline solid white;
}

.app-bar-link:hover {
	text-decoration: underline solid white;
}

.app-bar-link-selected {
	background-color: red;
}

.artigobc-titulo {	
	font:500 1.875rem/1.1 "Segoe UI","Open Sans",sans-serif,serif;
	margin: 0 0 32px;	
}

.artigobc-conteudo section h3 {
	border-bottom: 1px solid rgba(0,0,0,.3);
	font:500 1.125rem/1.1 "Segoe UI","Open Sans",sans-serif,serif;
    padding-bottom: 8px;
}

.artigobc-conteudo section p {
	text-align: justify;
	line-height: 160%;
}

.artigobc-img {	
	padding: 0 4px 5px 0;
}

.artigobc-ident {
	padding: 8px 16px;
}

.artigobc-listaacoes {
	list-style: none;
	padding: 0;
}

.artigobc-listaacoes a span {
	padding: 0 6px 4px 0;
}

.artigo-tags span {
	background-color:rgb(0, 108, 216);
	border: 6px solid rgb(0, 108, 216);
	color: white;
	margin: 4px;
	display: inline-block;
}

.barra-lateral {
	box-shadow: 0px -9px 15px 4px #e1dfdd;
	height: 100%;
	position: fixed;
}

.bto-pesquisa {
	background-color:rgb(0, 125, 170);
	border: 3px solid rgb(0, 125, 170);
	color: white;
}

.bto-pesquisa:hover {
	background-color:rgb(0, 94, 128);
	border: 3px solid rgb(0, 94, 128);
}

.bto-pesquisa:focus {
	border: 3px dotted white;
	outline: none;
}

.container-pesquisa {
	background-color: rgb(0, 108, 216);
	color: #ffffff;
	padding-bottom: 24px;
	padding-top: 24px;
	text-align: center;
	vertical-align: middle;
}

.conteudo-pagina {
	padding-top: 44px;
	margin: 0 auto;
}

.enquete {	
	top: 70%;
	transform: rotate(270deg);
	position: fixed;
	right: 37.5px;
	z-index: 400;
}

.enquete button {
	position: absolute;
	width: 120px;
}

.lista-pesquisa {
	width: 560px;
}

.pesquisa-item {
	margin-bottom: 39px;
}

.pesquisa-item-titulo {
	color: rgb(0, 108, 216);
	cursor: pointer;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}

.pesquisa-item-titulo:hover {
	color: #666;
}

.pesquisa-item-endereco {
	color: #107c10;
	font-size: 13px;
	line-height: 17px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pesquisa-item-descricao {
	font-size: 0.93rem;
}

.pesquisa-resultados-descricao {
	color: rgba(0, 0, 0, 0.6);
	font-size: 0.81rem;
	margin-bottom: 24px;
}

.texto-pesquisa {
	background: rgba(255, 255, 255, 0.8);
	border: none;
    border-radius: 0;
	box-sizing: border-box;
	height: 40px;
	max-width: 796px;
	padding: 9px 24px 11px 12px;
	width: 100%;
}

.texto-pesquisa:focus {
	background: rgb(255, 255, 255);
}

.texto-pesquisa::selection {
    background-color: #007daa;
    color: #fff;
    text-shadow: none;
}

.tab-apps-cat {
	border-collapse: separate;
	border-spacing: 10px;
	display: flex;
	flex-flow: row wrap;
	margin-top: 8px;
}

.tab-apps-cat a {
	background-color: white;
	border: 3px dotted transparent;
	color: #000;
	height: 240px;
	outline: none;
	padding: 18px 0 18px 0;
	text-align: center;
	transition-duration: 0.2s;
	width: 16.6%;
	text-align: center;
}

.tab-apps-cat a:hover {
	border: 3px solid rgba(0,0,0,.2);
}

.tab-apps-cat a:focus {
	border: 3px dotted rgba(0,0,0);
}

.tab-apps-cat a:focus:hover {
	border: 3px dotted rgba(0,0,0, 0.2);
}

.tab-apps-cat a h5 {
	color: rgba(0,0,0,.7);
}

.tab-apps-cat a img {
	display: block;
	margin: auto;
	height: 64px; 
	width: 64px;	
}

.tab-doc {
	border-collapse: separate;
	border-spacing: 1px;
	display: flex;
	flex-flow: row wrap;
}

.tab-doc a {
	background-color: white;
	border: 1px dotted transparent;
	outline: none;
	padding: 2px;
	text-align: center;
	transition-duration: 0.2s;
	width: 130px;
}

.tab-doc a:hover {
	background-color: #e5f3fb;
	border: 1px solid #64b4db;
}

.tab-doc a:focus {
	border: 3px dotted black;
}

.tab-doc a:focus:hover {
	background-color: #e5f3fb;
	border: 3px dotted #64b4db;	
}

.tab-doc-cat {
	margin-top: 18px;
	margin-right: 2px;	
}

.tab-inicial a {
	background-color: rgb(0, 125, 170);
	border: 3px dotted rgb(0, 125, 170);
	color: white;
	float: left;
	padding: 8px;
	margin: 4px;
	outline: none;
	text-align: center;
	transition-duration: 0.2s;
	width: 24%;
}

.tab-inicial a:hover {
	background-color: rgb(0, 94, 128);
	border: 3px dotted rgb(0, 94, 128);
	box-shadow: 0px 8px 16px 0px rgba(0, 94, 128, 0.7);
}

.tab-inicial a:focus {
	background-color: rgb(0, 94, 128);
	border: 3px dotted white;
	box-shadow: 0px 8px 16px 0px rgba(0, 94, 128, 0.7);
}

.tab-inicial a:active {
	box-shadow: 0px 0px 8px 0px rgba(0, 94, 128, 0.7);
	padding: 10px 6px 6px 10px
}

.tab-inicial-secao {
	display: block;
	clear: both;
	position: relative;
	padding-top: 16px;
}

.tab-inicial-titulo {
	font: 500 1.125rem/1.1 "Segoe UI","Open Sans",sans-serif,serif;
	margin: 0 8px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.tab-inicial-lateral {
	text-align: center;
	margin-top: 18px;
	margin-right: 8px;
}

.tab-inicial-lateral a {
	background-color: rgb(0, 53, 106);
	border: 3px dotted rgb(0, 53, 106);
	color: white;
	display: block;
	outline: none;
	padding: 10px;
	transition-duration: 0.2s;
}

.tab-inicial-lateral a:hover {
	background-color: rgb(0, 53, 106);
	border: 3px dotted rgb(0, 53, 106);
	box-shadow: 0px 8px 16px 0px rgba(0, 53, 106, 0.7);
}

.tab-inicial-lateral a:focus {
	border: 3px dotted white;
	box-shadow: 0px 8px 16px 0px rgba(0, 53, 106, 0.7);
}

.tab-inicial-lateral a:active {
	box-shadow: 0px 0px 16px 0px rgba(0, 53, 106, 0.7);
	padding: 12px 8px 8px 12px;
}

.tab-inicial-lateral a img {
	display: block;
	margin-bottom: 4px;
	margin-left: auto;
	margin-right: auto;
}

.tab-links-item {
	margin: 0px 15px 10px 10px;
}

.tab-links-item a{
	border: 2px solid transparent;
	outline: none;
	padding: 2px;
}

.tab-links-item a:focus{
	border: 2px dotted black;
}
  
.tab-links-item a img {
	margin-top: -3px;
}