[aria-disabled], html {
    cursor: default;
}

*::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}

.page-content {
    padding-top: 48px;
}

.volta-ao-topo {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
}